DATABASE_URL="postgresql://postgres:postgres@localhost:5433/chat_app"

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES_IN="10m"
JWT_REFRESH_EXPIRES_IN="30d"

PORT=3001
SERVER_URL="http://localhost:3001"
CLIENT_URL="http://localhost:5173"

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

SMTP_HOST="smtp.ethereal.email"
SMTP_USER=
SMTP_PASS=
SMTP_FROM="Chat App <no-reply@chat-app.dev>"
